<!DOCTYPE html>
<html ng-app="LunchCheck">
<head>
    <meta charset="utf-8">
    <title>Lunch Checker!</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="app.js"></script>

    <body >
    <div class="container" ng-controller="LunchCheckController" >
        <h1 class="center" >Lunch Checker!</h1>
        <div class="form-group" ><p>Enter items you had for lunch seperated by comma</p>
            <input  id="lunch-menu" type="text" ng-model="dish" class="form-control" placeholder="items/dishes">
        </div>

        <div  class="form-group"><br>
           
          <button  ng-click="checkLunch()">Check If Too Much</button>
        </div>
        <p ng-show="!empty && checked" ng-bind="output1" class="green"> </p>
       
        <p ng-show="empty" class="red">Please enter data first! </p>
    </div>
    
</body>

</html>