<!DOCTYPE html>
<html ng-app="LunchCheck">
<head>
    <meta charset="utf-8">
    <title>Lunch Checker!</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="app.js"></script>

    <body >
    <div class="container" ng-controller="LunchCheckController">
        <h1 style="text-align:center;">Lunch Checker!</h1>
        <div class="form-group" style="text-align:center;">
            <input  id="lunch-menu" type="text" ng-model="dishes" placeholder="list comma separated dishes you usually have for lunch" class="form-control" >
        </div>

        <div style="text-align:center;" class="form-group">
            <button  ng-click="checkLunch()">Check If Too Much</button>
        </div>
        
        <div ng-show="empty" style="text-align:center;" >Please enter data first</div>
    </div>
    
</body>

</html>